

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dot {
  height: 160px;
  width: 180px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
}


.categories{
  text-align: center;
  color: orangered;
  font-size: 35px;
}

.categories-bg{
  background-color: #282c34
}

.icons{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.cardAllign{
  display: flex;
  flex-wrap: wrap;
  padding-left: 120px;
}

/* .icons{fvcard-style
  display: block;
  margin-left: auto;
  margin-right: auto;
} */





.login{

  color: white;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 50px;
  padding-left: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}


.login-bg{
  padding-top: 50px;
  padding-bottom: 130px;
  background-image: url("./assets/download.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


.login h1{
  color: white;
}

@media (min-width:320px ) and (max-width: 767px) {

img{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.cardAllign{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 0px;
}

.login-bg{
  padding-top: 50px;
  padding-bottom: 130px;
  background-image: url("./assets/download.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.login{

  color: white;
  margin-top: 50px;
  padding-left: 0px;
  padding: 10px;
  width: 320px;

}


}






@media (min-width:768px ) and (max-width: 991px) {
  img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
  .FrontTop{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}



@media (min-width:992px ) and (max-width: 1200px) {

  /* img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
  } */

  .FrontTop{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .centerCart{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
    
  }
  .style-slide{
    width: 100%;
    /* background-color: #61dafb; */
  }
  .style-img1{
    background-image: url('./../src/assets/front.jpg');
  }
  .bg-img,.bg-img2{
    height: 450px;
    width: 100%;
    background-color: #282c34;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .bg-img{
    background-image: url('./assets/slide2.jpg');
  }
  .bg-img2{
    background-image: url('./assets/img5.jpg');
  }

  .myNavbar{
    background-color: #5A8AB2;
    border-bottom: 0.5px solid #FFFFFF;
    font-family: 'Staatliches', cursive;
  letter-spacing: 2px;
  font-size: 1.2em;
}

.myNavbar div {
    display: none;
}
.myNavbar .toggle,
.myNavbar .brand{
    display: inline-block;
}
.myNavbar .link{
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background-color: #5A8AB2;
    color: #FFFFFF;
}
.myNavbar .link:hover,.myNavbar .link:active{
    background-color:#FFFFFF;
    color: #5A8AB2;
}
.myNavbar .brand{
    width: 10em;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
}
.myNavbar a{
    text-decoration: none;
}
.myNavbar .toggle{
    padding: 1em;
    color: #FFFFFF;
}
@media (min-width:48em){
    .myNavbar{
        display: flex;
        padding: 0px;
        width: 100%;
    }
    .myNavbar div{
    display: flex;
}
    .myNavbar .left,.myNavbar .right{
        display: flex;
        flex: 1;
    }
    .myNavbar .link{
        width: auto;
    }
    .myNavbar .right{
        justify-content: flex-end;
    }
    .myNavbar .toggle{
        display: none;
    }
  }

  @media (min-width:48em){
    .myNavbar{
        display: flex;
        padding: 0px;
        width: 100%;
    }
    .myNavbar div{
    display: flex;
}
    .myNavbar .left,.myNavbar .right{
        display: flex;
        flex: 1;
    }
    .myNavbar .link{
        width: auto;
    }
    .myNavbar .right{
        justify-content: flex-end;
    }
    .myNavbar .toggle{
        display: none;
    }
   
}


@media (max-width:48em){
  .myNavbar.active .toggle{
      background-color: #5A8AB2;
      color: #FFFFFF;
  }
  .myNavbar .brand{
      text-align: left;
  }
  .myNavbar.active div{
      display: block;
  }
  
}

.footer-style{
  background-color: lightgrey;
}


.footer-style li{
  font-size: 15px;
  margin-top: 10px;
}

.category-parent{
  height: 600px;
  width:100%;
  
  display: flex; 
 
  flex-direction: column;
  
}
.one-category
{ 
  display: flex;
  border: 1px solid #ccd5d6;
  width: 100%;
  height: 40%;
}
.one-category > div{
  border: 1px solid #ccd5d6;
  width: 25%;
  border-bottom: 0px;
}
.category-parent > div:first-child{
 border-bottom: 0px;
}


.two-category{
  display: flex;
  flex-direction: row;
  font-size: 1em;
  align-items: center;
  border-bottom: 1px solid #ccd5d6;  
  height: 4em;
  justify-content: space-evenly; 
 
}
.two-category > h1{
  margin: 0px;
}
.one-category > div>p{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.one-category > div > p > a{
  text-decoration:none;
  color: black;
}

.categories2{
  display: block;
  margin-left: 30px;
  margin-right: 30px; 
}
footer{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: #e1e1e1 !important;
height: 250px;
align-items: center;
width: 100%;
text-align: center;


}
footer >div{
  display: flex;
  flex-direction: column;
  width: 33.33%;
  font-size: 1.5em;


}
footer>div>a:first-child{
  font-weight: bold;
  text-decoration: none;
  color: #e1e1e1;
}
footer>div>a{
  color: #e1e1e1;
}
.eightSection{
  background-color: black;
  width: 100%;
/* min-width: 85%; */
display: flex;
justify-content: center;
align-items: center;
font-size: 3em;
height: 80px;
color: #e1e1e1;
}
.eightSection >span{
  padding-left: 0.5em;
}
.ninthSection{
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
  border-top:1px dotted #ccd5d6;
  color: #e1e1e1;
}

.card{
  width: 250px;
  display: flex;
  /* flex-direction: row; */

}



.main-column{
  display: flex;
  max-width: 1300px;
  background-color: silver;
  padding: 10px 20px;
}

.mid-col{
  flex: 1;
  flex: 3;
}


.sidebar-one{
  order: 1;
}

.sidebar-two{
  order: 2;
}


.sidebar-three{
  order: 3;
}


.card-style{
width: '300px';
background-color: lightgray;
padding: 10px;
margin-left: 30px;
margin-top: 10px;
}