.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dot {
  height: 160px;
  width: 180px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
}


.categories{
  text-align: center;
  color: orangered;
  font-size: 35px;
}

.categories-bg{
  background-color: #282c34
}

.icons{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.cardAllign{
  display: flex;
  flex-wrap: wrap;
  padding-left: 120px;
}

/* .icons{
  display: block;
  margin-left: auto;
  margin-right: auto;
} */