
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* heaeer styling */
.StyleHead{
  display: flex;
  background-color:whitesmoke;
  flex-direction: column;
  height: 5em;
  
  overflow: hidden;
 
}
.icon{
  display: none;
}


.input-group{
  width: 60%;
}
.input-group-append{
  height: 2.4em;
}
.UpperHeader{
  display: flex;
    
    
    height: 2em;
    width: 100%;
    justify-content: flex-end;
    padding-right:1.9em;
}
.UpperHeader >  p {
  margin-top: 0.1rem;
  margin-right: 1rem;
  padding-left: 1rem;
}

.LowerHeader{
  height: 3em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.btn-outline-primary{
  height: 2.4rem;
}
.BrandName{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1.8em;
}
.StyleHead .LowerHeader >div:nth-child(1){
  font-size: 1.5em;
  display: none;
}

@media screen and (max-width: 600px) {
 
 
  .StyleHead > .UpperHeader{
    display: none;
  }
  .StyleHead .LowerHeader >div:nth-child(5), .StyleHead .LowerHeader >div:nth-child(2),.StyleHead .LowerHeader >div:nth-child(4)
  {
    display: none;
  }
  .StyleHead .LowerHeader >div:nth-child(1){
    font-size: 2.5em;
    display: flex;
  }
  .input-group{
    width: 90%;
  }
  
}


@media (min-width:320px ) and (max-width: 767px) {

.style-slide{
 height: 200px !important;
}

.style-slide img{
  height: 150px;
 }

 .MuiCardContent-root-109{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
 }


.MuiCardContent-root-37{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}


.login-seller{
     width: 300px !important;
  display: block !important;
  margin-top: 100px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.post-product{
  margin-left: auto !important;
  margin-right: auto !important; 
  width: 280px !important;
}

/* .bg-seller-login{
  background-image: url('./assets//bulb.jpg');
  background-size: contain;
} */

footer{
  display:none !important; 
}

}

@media (min-width:768px ) and (max-width: 991px) {

}


@media (min-width:992px ) and (max-width: 1500px) {
  .invoice{
    width: 300px;
  }

  .d-block{
    height: 50% !important;
    width: 100% !important;
  }

  .carousel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30%;
  }

  .carousel img{
   height: 30%;
   widows: 50%;
  }
  
  .productDescription h1,h4{
      text-align: center;
  }

  .productDescription Button{
   width: 100%;
}

.new-pro h3{
  text-align: center;
}

.container p{
 font-size: 20px;
  }

.container{
  text-align: center;
}

.form-elements{
  display: inline;
}
  .form-control{
 
    width: 300px !important;
    height: 50px !important;
  }
  
select {
  width: 200px !important;
  height: 50px !important;
}

.form-control,select{
  display: inline !important;
}



/* .productDescription h4{
    margin-left: 30px;
  } */
}


.email-field{
  width: 80% !important;
}


.bg-seller-login{
  margin-top: 40px !important;
  background-color: cadetblue;
}

.imglogin {
  margin-left: '400px' !important;
  margin-right: '300px' !important;
}